:root {
    --gray: #4e5150;
    --gray-1: #333333;
    --gray-2: #4f4f4f;
    --gray-3: #828282;
    --gray-4: #bdbdbd;
    --gray-5: #e0e0e0;
    --gray-6: #f2f2f2;
    --orange: #f2994a;

    --invalid-email: "Email is invalid";
    --invalid-phone: "Please enter your number";
    --invalid-name: "Please enter your name";
    --invalid-address: "Please enter your address";
    --invalid-city: "Please enter your city";
    --invalid-country: "Please select your country";
    --invalid-code: "Please enter postal code";
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    position: relative;
    background-color: #ffffff;
    font-family: Montserrat;
    font-weight: 600;
}
header h1 {
    font-weight: inherit;
    font-size: var(--fs-header);
}
.checkout {
    flex-direction: row-reverse;
    justify-content: space-between;
}
.cart {
    background-color: var(--gray-6);
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 40px;
}
.item {
    display: flex;
    /* align-items: flex-start; */
    margin-bottom: 30px;
}
.item .thumbnail > img {
    width: 100%;
    border-radius: 13px;
}
.item .item-infor {
    display: flex;
    flex-direction: column;
}
.item-infor .item-name {
    font-size: var(--fs-item-name);
    color: var(--gray);
    margin-bottom: 12px;
}
.price {
    display: flex;
    align-items: center;
}
.discount {
    font-size: var(--fs-discount);
    color: var(--orange);
    margin-right: 15px;
}
.non-discount {
    font-size: var(--fs-non-discount);
    text-decoration-line: line-through;
}
.item-count {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 5px;
}
.count-border {
    position: relative;
    width: 135px;
    height: 50px;
    border: 1px solid var(--gray-3);
    border-radius: 12px;
}
.count-border .count {
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}
.count-border i,
.count-border i {
    position: absolute;
    font-size: 24px;
    color: var(--gray-3);
    background-color: var(--gray-5);
    top: 50%;
    border-radius: 4px;
    transform: translate(0, -50%);
    cursor: pointer;
}
.count-border i:first-child {
    left: 7%;
}
.count-border i:last-child {
    right: 7%;
}
.items + hr {
    margin-top: 90px;
}
p.shipping,
p.total {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p.shipping > span,
p.total > span {
    color: var(--gray-1);
}
p.shipping > span:nth-child(1),
p.total > span:nth-child(1) {
    font-size: var(--fs-shipping);
}
p.shipping > span:nth-child(2),
p.total > span:nth-child(2) {
    font-size: 14px;
}
p.total {
    margin-bottom: 0px;
}
form {
    margin-bottom: 100px;
}
.contact-infor > h2,
.shipping-address > h2 {
    font-size: var(--fs-contact-infor);
    color: var(--gray-1);
    font-weight: inherit;
}

.contact-infor > div > label,
.shipping-address > div:not(:last-child) > label {
    font-size: var(--fs-label);
    color: var(--gray-2);
    line-height: var(--fs-label);
}
.contact-infor > div > input,
.shipping-address > div:not(:last-child) > select,
.shipping-address > div:not(:last-child) > input {
    width: 100%;
    height: var(--h-input);
    border: 1px solid var(--gray-3);
    border-radius: 12px;
    margin-top: 5px;
    font-size: var(--fs-input);
    color: var(--gray-1);
    font-weight: inherit;
    font-family: inherit;
    padding-left: 50px;
    outline: none;
}
.contact-infor > div > input:hover,
.shipping-address > div:not(:last-child) > input:hover,
.country > i:hover + input {
    border: 1.5px solid var(--gray-2);
}
.contact-infor > div > input:focus,
.shipping-address > div:not(:last-child) > input:focus {
    border: 2px solid var(--orange);
}

.shipping-address > div:last-child > label > input {
    opacity: 0;
}
.contact-infor > div::before,
.shipping-address > div:not(:last-child)::before {
    position: absolute;
    font-family: "Material Icons";
    font-size: 30px;
    color: var(--gray-3);
    top: 37px;
    left: 13px;
}
.contact-infor > div.email::before {
    content: "mail";
}
.contact-infor > div.email.invalid::after,
.contact-infor > div.phone.invalid::after,
.shipping-address > div.full-name.invalid::after,
.shipping-address > div.address.invalid::after,
.shipping-address > div.city.invalid::after,
.shipping-address > div.country.invalid::after,
.shipping-address > div.postal-code.invalid::after {
    position: absolute;
    top: var(--h-invalid);
    left: 15px;
    color: #d52b3b;
    font-size: var(--fs-label);
}
.contact-infor > div.email.invalid::after {
    content: var(--invalid-email);
}
.contact-infor > div.phone::before {
    content: "phone";
}
.contact-infor > div.phone.invalid::after {
    content: var(--invalid-phone);
}
.shipping-address > div.full-name::before {
    content: "account_circle";
}
.shipping-address > div.full-name.invalid::after {
    content: var(--invalid-name);
}
.shipping-address > div.address::before {
    content: "home";
}
.shipping-address > div.address.invalid::after {
    content: var(--invalid-address);
}
.shipping-address > div.city::before {
    content: "location_city";
}
.shipping-address > div.city.invalid::after {
    content: var(--invalid-city);
}
.shipping-address > div.country::before {
    content: "public";
}
.shipping-address > div.country.invalid::after {
    content: var(--invalid-country);
}
.shipping-address > div.postal-code::before {
    content: "markunread_mailbox";
}
.shipping-address > div.postal-code.invalid::after {
    content: var(--invalid-code);
}
.shipping-address > div.country > i {
    position: absolute;
    font-size: 30px;
    color: var(--gray-3);
    background-color: var(--gray-5);
    border-radius: 4px;
    top: 37px;
    right: 13px;
    cursor: pointer;
}
.country {
    margin-right: 25px;
}
.country.show > input {
    border: 2px solid var(--orange) !important;
}
.select-country {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: var(--fs-input);
    color: var(--gray-1);
    font-weight: inherit;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    overflow: hidden;
    height: 0;
    transition: 0.2s linear;
}
.select-country .option {
    height: var(--h-input);
    width: 100%;
    border: solid var(--gray-3);
    line-height: var(--h-input);
    border-width: 0px 1px 1px 1px;
    cursor: pointer;
    transition: 0.1s linear;
}
.select-country .option:first-child {
    border-width: 1px 1px 1px 1px;
}
.select-country .option:hover,
.select-country .option.selected {
    background-color: #f2a35d;
}
.checkbox {
    font-family: "Montserrat";
    font-size: var(--fs-ingredient-item);
    line-height: 25px;
    padding-left: 30px;
    font-weight: normal;
}
.checkbox label {
    cursor: pointer;
}
.checkbox label input {
    opacity: 0;
}
.checkbox label .check-mark {
    position: absolute;
    top: 0px;
    left: 0;
    width: 21px;
    height: 21px;
    border: 1px solid #828282;
    border-radius: 4px;
    transition: background-color 0.2s ease-in;
}
.checkbox label .check-mark:hover {
    background-color: #bdbdbd;
}
.checkbox label input:checked + .check-mark {
    background-color: #f2994a;
}
.check-mark::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 7.5px;
    border: #ffffff solid;
    border-width: 3px 0 0 3px;
    transition: all 0.2s ease-in;
    transform: rotate(-135deg);
    transform-origin: 0% 0%;
}
.checkbox label input:not(:checked) + .check-mark::after {
    width: 0px;
    height: 0px;
    opacity: 0;
}
.checkbox label input:checked + .check-mark::after {
    width: 5px;
    height: 12px;
    opacity: 1;
}
.country,
.postal-code {
    width: calc(50% - 15px);
    display: inline-block;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.btn {
    display: flex;
    flex-direction: row-reverse;
}
.btn button {
    width: 166px;
    height: 54px;
    background-color: var(--orange);
    border-radius: 12px;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
.btn button:hover {
    background-color: #f28f37;
}
.btn button:focus {
    background-color: #f28524;
}
footer {
    width: 100%;
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin: 20px auto;
    color: #a9a9a9;
}
.alert {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--gray-6);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
}
.alert.show {
    visibility: visible;
    top: 50%;
    opacity: 1;
    transition: 0.2s linear;
}
.alert .alert-title {
    font-size: var(--fs-header);
    margin-bottom: 20px;
}
.alert .ok-btn {
    background-color: var(--orange);
    padding: 10px 35px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    color: #ffffff;
}
.container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
/* Responsive */
@media screen and (min-width: 768px) {
    html {
        --fs-header: 36px;
        --fs-item-name: 16px;
        --fs-discount: 16px;
        --fs-non-discount: 12px;
        --fs-shipping: 18px;
        --fs-contact-infor: 18px;
        --fs-label: 12px;
        --fs-input: 16px;
        --h-input: 56px;
        --h-invalid: 80px;
    }
    header {
        margin-top: 64px;
        margin-bottom: 50px;
    }
    .item .thumbnail {
        width: 135px;
        margin-right: 20px;
    }
    .contact-infor {
        margin-bottom: 50px;
    }
    .contact-infor > div,
    .shipping-address > div {
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .select-country .option {
        padding-left: 50px;
    }
    .country.show .select-country {
        height: 224px;
    }
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.67%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.67%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.67%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.67%;
    }
    .col-12 {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    html {
        --fs-header: 24px;
        --fs-item-name: 12px;
        --fs-discount: 14px;
        --fs-non-discount: 10px;
        --fs-shipping: 14px;
        --fs-contact-infor: 14px;
        --fs-label: 10px;
        --fs-input: 12px;
        --h-input: 40px;
        --h-invalid: 64px;
    }
    header {
        margin-top: 32px;
        margin-bottom: 20px;
    }
    .item .thumbnail {
        width: 122px;
        margin-right: 20px;
    }
    .contact-infor {
        margin-bottom: 45px;
    }
    .contact-infor > div,
    .shipping-address > div {
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .contact-infor > div > input,
    .shipping-address > div:not(:last-child) > select,
    .shipping-address > div:not(:last-child) > input,
    .select-country .option {
        padding-left: 37px;
    }
    .contact-infor > div::before,
    .shipping-address > div:not(:last-child)::before {
        font-size: 24px;
        top: 33px;
        left: 8px;
    }
    .shipping-address > div.country > i {
        font-size: 24px;
        top: 33px;
        right: 8px;
    }
    .country.show .select-country {
        height: 160px;
    }
    [class*="col-"] {
        width: 100%;
    }
}
